@import '../../../styles/app';



.node-bar {
  //float:left;
  background-color: $gray-300;
  //box-shadow: var(--widget-shadow);
  border-top: solid 4px white;
  border-right: solid 3px $gray-300;
  padding: 0;
  position: absolute;
  bottom: 3px;
  //width: 230px;
  .pill-delete-x {
    float: right;
  }
  .pill-buttons {
    opacity:0;
    float: left;
  }
  .po-node-text {
    cursor: pointer;
    //width: 90%;
    float: left;
  }
  .active-node {
    background-color: white !important;
    font-weight: 600 !important;

    //color: white;

    input:focus {
      font-size: inherit;
      background-color: inherit;
      float: left;
      border: 0;
      box-shadow: 0;
      outline: 0;
      font-weight: inherit;
      color: inherit;
      width: auto;
    }
  }
  .node-add {
    font-weight: 500;
    min-width: 20px !important;
    font-size: 16px;
    color: $gray-700;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .node-add:hover {
    color: $gray-500;

  }
  .po-node-pill:last-of-type {
    border-right: 0;
  }
  .po-node-pill {
    color: $gray-700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: $gray-300;
    height: 43px;
    border-right: $body-bg solid 3px;
    font-weight: 400;

    //padding: 15px 20px 3px 20px!important;
    //border: solid 1px $gray-300;
  }
  .po-node-pill:hover .pill-buttons {
    opacity: 1;
  }

  input {
    background-color: inherit;
    border: 0;
  }
}
