@import '../../../../styles/app';

.ghost {
  opacity: 30%;
  border: 1px dashed $gray-500;
}

.chart-data-card {
  //border: 3px solid rgba(var(--widget-shadow-color), 0.05);


  .chart-column {
    display: inline-block;
    width: 100%;

    .chart-column-container {
      float: left;

    }
    .chart-column-label {
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 30%;
      float: left;
    }
  }

}