@import '../../../../styles/app';

.column-selector {
  cursor: pointer;
  display: flex;

  font-size: 12px;
  background-color: $gray-300;
  border-radius: 5px;
  margin-bottom: 3px;
  padding: 0 10px 0 10px;
  align-items: center;
  justify-content: center;
  height: 30px;

  .column-selector-type {
    width: 4ch;
  }

  .pill-buttons {
    font-size: 14px;
    line-height: 16px;
    color: $gray-600;
    min-width: 10px!important;
    //margin-top: -6px;
    //margin-left: 10px;
    .fa-sort-down {
      margin-top: -2px;
    }

    button {
      padding: 0;
    }

    i {
      margin-left: 12px;
    }
  }

  .dropdown-toggle {
    background-color: transparent!important;
    border: none;
  }

  .column-selector-text {
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    //margin-top: -10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 12px 0 8px;
    color: $gray-800;
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    width: 100%;
  }

  .column-selector-detail {
    padding: 0 12px 0 8px;
    font-size: 10px;
    line-height: 13px;
  }
}

.column-selector.active {
  background-color: white !important;

  .column-selector-text {
    color: $gray-900;
  }

  .input {
    outline: none;
    border-radius: 3px;
    box-shadow: 0 0 0 2px var(--sidebar-item-active);
    color: $gray-700;

    span {
      cursor: text;
      display: inline-block;
      width: 100%;
      outline: none;
    }

  }
}


.node-add {
  cursor: pointer;
  color: $gray-600;
  font-size: 14px!important;
}

.node-add:hover {
  color: $gray-500;
}



