@import '../../styles/app';

.toolbox {
  padding-left: 4px;
  padding-right: 4px;
  height: 80%;

  a {
    float:left;
    font-size: 25px;
    color: $gray-700;
  }

  p {
    margin-top: 25px;
    font-size: 14px;
    color: $gray-700;
    text-align: center;
  }
}
