@import '../../styles/app';

.big-icon {
  float:left;
  width:55px;
  padding: 0px;

  img {
    float: left;
    width: 40px;
    height: 40px;
    margin: 0px 5px 0px 5px;
  }
  p {
    font-size: 10px;
    text-align: center;
    margin: 0;
  }
}

.small-icon {
  float:left;
  height:28px;
  padding: 0px;
  margin: 0px;

  img {
    float: left;
    width: 20px;
    height: 20px;
    margin: 3px 2px 0px 0px;

  }

  i {
    float: left;
    font-size: 24px;
    margin: 0px;
  }

  .fi {
    font-size: 20px;
    margin: 0px 2px 0px 2px;
  }

  p {
    float: left;
    font-size: 10px;
    text-align: left;
    margin: 5px 0px 0px 3px;
  }
}
