@import '../../../styles/app';



.page-bar {
  float:left;
  //background-color: $gray-200;
  border-right: solid 3px $gray-200;
  padding: 2em 1em 1em 1em;
  width: 230px;

  .po-page-text {
    cursor: pointer;
    width: 100%;
  }
  .active-page {
    background-color: $teal !important;
    color: white;

    input {
      color: white;
    }
  }
  .po-page-pill {
    font-weight: 500;
    font-size: 14px;
    background-color: $gray-200;
    height: 50px;
    border-radius: 5px;
    padding: 3px 10px 3px 10px!important;
    //border: solid 1px $gray-300;
  }
  .pill-delete-x {
    margin: -5px -5px 0px 0px;
    color: white;
  }
  .page-add {
    border: 0px!important;

    button {
      position: relative;
      padding: 2px!important;
      border: 0;
      width: 60%;
      left: 20%;
      font-size: 18px;
    }
  }
  input {
    background-color: inherit;
    border: 0;
  }
}
