@import '../../../styles/app';

.fullscreened .widget-body {
  height: 100%!important;
}

.loading {
  tbody {
    background-color: $gray-100 !important;
    color: $gray-300 !important;
  }
  tr {
    border-bottom: solid 1px $gray-100 !important;
  }
}
  .widget {
    border-radius: 0;
    margin: 0;
  }

  .data-table {
    margin: 0;
    padding: 0;

    .widget-body {
      padding: 30px 10px 30px 10px;
    }


      overflow: scroll!important;
      //height: calc(100vh - 150px);
      width: 100%;
      max-height: 100%;

      ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 5px;
        height: 5px;
      }
      ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
      }

      table {
        height: calc(100vh - #{$navbar-height} - #{$toolfooter-height} - 150px);
        overflow: scroll!important;
        width: 100%;
        //width:500px;
        display: block;
        white-space: nowrap;
      }

      .table-footer {
        background-color: white;
        height: 75px;
        font-weight: 500;
        border-radius: inherit;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        //border-top: solid 1px $gray-500;
        //margin-top: 10px;

        button.icon{
          background-color: $white;
          color: $gray-600;
          border: 0px;
        }
        button.icon:hover{
          color: $gray-400!important;
        }
        button.icon.disabled {
          color: $gray-300!important;
          cursor: not-allowed;
          pointer-events: none;
        }

      }
      thead {
        position: sticky;
        top: 0px;
      }
      th {
        position: sticky;
        top: 0px;
        height: 40px;
        font-weight: 600;
        font-size: 12px;
        color: $gray-700;
        background-color: $gray-300;
      }
      td, th {
        padding-left: 2ch;
        padding-right: 2ch;
        max-width: 30ch;
      }
      td .table-text, th .table-text {
        max-width: 20ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .odd {

      }

      tr {
        border-bottom: solid 1px $gray-200;
      }
      //tr:hover {
      //  background-color: rgba(255, 244, 158, 0.17);
      //}
      td{
        padding-top: 5px;
        padding-bottom: 5px;
      }
      //
      //td:not(:last-of-type) {
      //  border-right: solid 1px white;
      //}
      //th:not(:last-of-type) {
      //  border-right: solid 1px white;
      //}

    }
