@import '../../../styles/app';


.object-selector {
  cursor: pointer;
  padding: 0 10px 0 15px;
  display: flex;
  align-items: center;
  font-size: 12px;
  background-color: $gray-300;

  .object-selector-position {
  }

  .pill-buttons {
    font-size: 14px;
    line-height: 15px;
    color: $gray-600;
    //margin-top: -6px;
    //margin-left: 10px;

    .fa-sort-down {
      margin-top: -2px;
    }

    i {
      margin-left: 12px;
    }
  }

  .object-selector-text {
    margin-right: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 12px 0 8px;
    color: $gray-600;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    width: 100%;
  }

  .object-selector-detail {
    padding: 0 12px 0 8px;
    font-size: 10px;
    line-height: 13px;
  }
}

.object-selector:last-of-type {
  border-right: 0;
}

.object-selector.active {
  background-color: white !important;

  .object-selector-text {
    color: $gray-900;
  }

  .input {
    outline: none;
    border-radius: 3px;
    box-shadow: 0 0 0 2px var(--sidebar-item-active);
    color: $gray-700;

    span {
      cursor: text;
      display: inline-block;
      width: 100%;
      outline: none;
    }

  }
}


.node-add {
  cursor: pointer;
  color: $gray-600;
  font-size: 14px!important;
}

.node-add:hover {
  color: $gray-500;
}