@import '../../../styles/app';

.app-header {
  min-height: $navbar-height;
  max-height: $navbar-height;
  z-index: 100;
  padding: 0 1.85rem 0;
  background: var(--navbar-bg);
  box-shadow: var(--navbar-shadow);
  transition: $transition-base;
  border: none;
  font-weight: 500;
  justify-content: flex-start;
}


