@import '../../../styles/app';

.sheet-bar-sheet-area {
  //max-width: calc(100% - 150px)!important;
  overflow-x: auto!important;
  overflow-y: hidden!important;
  flex-grow: 1;
  border-right: double 5px $gray-100;

}

.sheet-bar-button-area {
  height: $toolfooter-height!important;
  background-color: $gray-400;
}

.sheet-bar-button {
  color: $gray-600;
  cursor: pointer;
}

.sheet-bar-button:hover {
  color: $gray-500;
}

.sheet-bar {
  flex-grow: 1;
  background-color: $gray-300;
  padding: 0;
  height: 100%;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  .object-selector {
    cursor: pointer;
    padding: 0 10px 0 15px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: $gray-300;
    height: calc(#{$toolfooter-height} - 3px);
    border-right: $gray-200 solid 2px;

    .pill-buttons {
      font-size: 18px;
      color: $gray-600;
    }

    .object-selector-text {
      margin-right: 5px;
      padding: 3px 12px 3px 8px;
      color: $gray-600;
      font-weight: 600;
    }

  }

  .object-selector:last-of-type {
    border-right: 0;
  }

  .object-selector.active {
    background-color: white !important;

    .object-selector-text {
      color: $gray-900;
    }

    .input {
      outline: none;
      border-radius: 3px;
      box-shadow: 0 0 0 2px var(--sidebar-item-active);
      color: $gray-700;

      span {
        outline: none;
      }

    }
  }
}
