@import '../../../styles/app';


.connector-bar {
  flex-grow: 1;
  background-color: $gray-100;
  height: calc(100vh - #{$navbar-height});
  padding: 10px 10px 20px 10px;

  .title-bar {
    font-size: 13px;
    margin-bottom: 20px;
    font-weight: 600;

    .title {
      display: inline-block;
      color: $gray-800;
      overflow: hidden;
      vertical-align: middle;
      width: 80%;
    }

    .add-connector-button {
      display: inline-block;
      vertical-align: middle;
      background-color: $gray-100;
      width: 20%;
      color: var(--text-link)!important;
      text-align: right;
      font-weight: 500;
    }
  }


  .object-selector {
    background-color: $gray-200;
    height: $connector-selector;

  }

  .object-selector.active {
    //border-left: solid var(--sidebar-item-active) 5px;
    background-color: var(--sidebar-item-active)!important;

    .pill-buttons, .object-selector-text {
      color: $gray-700;
    }

    .input {
      background-color: var(--sidebar-item-active-faded)!important;
      box-shadow: none;

      span {
        outline: none;
      }

    }
  }

}