@import '../../../styles/app';

  .data-object-settings {
    background-color: white;
    font-size: 12px;
    //padding: 20px;
    margin-bottom: 20px;
    //margin-left: 7px;
    min-height: 100px;
    max-height: calc(50vh)!important;


    .col-form-label {
      border: none;
      color: $gray-700;
    }

    .form-control {
      font-size: 12px;
    }

  }