@import '../../../styles/app';

  .prep-settings {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 7px;
    min-height: 100px;
    max-height: calc(50vh)!important;

    .merge-setting-column-left {
      overflow-y: visible!important;
    }
    .dropdown-menu {
      z-index: 10000;
    }
  }