@import '../../../styles/app';

.fullscreened .widget-body {
  height: 100%!important;
}

.loading {
  tbody {
    background-color: $gray-100 !important;
    color: $gray-300 !important;
  }
  tr {
    border-bottom: solid 1px $gray-100 !important;
  }
}
  .widget {
    border-radius: 0;
    margin: 0;
  }

  .data-column-explorer {
    margin: 0;
    padding: 0;

    .widget-body {
      padding: 30px 10px 20px 10px;
      margin: 0;
    }

    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 5px;
      height: 5px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }

    .table-resposive {
      height: calc(100vh - #{$navbar-height} - #{$toolfooter-height} - 200px);
      overflow: scroll!important;
    }
    table {
      width: 100%;
      //width:500px;
      //display: block;
      white-space: nowrap;
      table-layout: fixed;
    }

    th {
      position: sticky;
      top: 0;
      width: 10%;
      background-color: white;
      z-index: 100;
      }

    table td, table th {
      padding-left: 10px;
      padding-right: 10px;

      .display-name-input {
        width: 80%;
      }
    }

    table td {
      vertical-align: middle!important;

    }

    }
