@import '../../../../../styles/app';

.chart-type-option {
  border: 2px solid white;
  border-radius: 10px;
  opacity: 40%;
  background-color: white;
  display: inline-block;
  position: relative;
  cursor: pointer;

  img {
    height: 25px;
  }
}

.chart-type-option:hover {
  opacity: 100%;
}

.chart-type-option.active {
  opacity: 100%;
  background-color: white;
  border: 2px solid var(--sidebar-item-active)!important;
}
