@import '../../../styles/app';

.app-main-content {
  width:100%;
  //background-color: #7f3ddb;
  //height: calc(100vh - 55px - 40px - 175px);
  background-color: white!important;
  overflow: auto!important;
}

.widget-body {
  padding: 35px 0px 10px 0px;
}