@import '../../styles/app';
html, body {
  margin: 0;
  height: 100%;
}

.testing {
  width:100%;
  background-color: #7f3ddb;
  overflow: scroll!important;
}

.c-5 {
  width: 5%!important;
}
.c-10 {
  width: 10%!important;
}
.c-15 {
  width: 15%!important;
}
.c-20 {
  width: 20%!important;
}
.c-25 {
  width: 25%!important;
}
.c-30 {
  width: 30%!important;
}
.c-35 {
  width: 35%!important;
}
.c-40 {
  width: 40%!important;
}
.c-45 {
  width: 45%!important;
}
.c-50 {
  width: 50%!important;
}
.c-60 {
  width: 60%!important;
}
.c-70 {
  width: 70%!important;
}
.c-80 {
  width: 80%!important;
}
.c-90 {
  width: 90%!important;
}
.c-95 {
  width: 95%!important;
}
.c-100 {
  width: 100%!important;
}

.flex-horizontal-no-scroll {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  max-width: 100%;
  flex:1;
  overflow-x: hidden!important;
  overflow-y: hidden!important;
}

.flex-horizontal {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  max-width: 100%;
  flex:1;
  overflow-x: scroll!important;
  overflow-y: hidden!important;

}
.flex-vertical {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
  flex: 1;
  overflow-y: scroll!important;
  overflow-x: hidden!important;
}

.flex-vertical-no-scroll {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
  flex: 1;
  overflow-y: hidden!important;
  overflow-x: hidden!important;
}

/* Panes */

.main-area {
  flex: 1;
}



.nav-sidebar {
  background-color: #FFFF99!important;
}

.app-header {
  background-color: #21AE8C!important;
}

.app-footer {
  background-color: #636c72!important;
}