@import '../../../../../../styles/app';

.chart-setting {
  margin-bottom: 15px;
}

.chart-setting-title {
  width: 50%!important;
  //width: 130px!important;
  float: left;
  display: inline-block;
  text-align: right;
  padding-right: 10px;
  //border: 1px solid black;
}