@import '../../../styles/app';

.source-node-selector {
  cursor: pointer;
  display: flex;
  width: 100%;
  white-space:normal;
  background-color: var(--sidebar-item-active);
  height: $source-node-selector;

  button {
    background-color: transparent!important;
    border: none;
    white-space: normal;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    max-width: calc(100% - 30px);

  }

  .dropdown-toggle {
    background-color: transparent!important;
    border: none;
    max-width: 30px!important;
  }

}

.source-node-selector-text {
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
  display: inline-block;
  max-width: calc(100%);
}

