    /*
    Flaticon icon font: Flaticon
    Creation date: 01/10/2020 17:07
    */

    @font-face {
  font-family: "Flaticon";
  src: url("../fonts/chart_parts/Flaticon.eot");
  src: url("../fonts/chart_parts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/chart_parts/Flaticon.woff2") format("woff2"),
       url("../fonts/chart_parts/Flaticon.woff") format("woff"),
       url("../fonts/chart_parts/Flaticon.ttf") format("truetype"),
       url("../fonts/chart_parts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/chart_parts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-squares:before { content: "\f100"; }
.flaticon-font:before { content: "\f101"; }
    
    $font-Flaticon-squares: "\f100";
    $font-Flaticon-font: "\f101";